[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/CavidGayibli
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/CavidGayibli
	label-Verified = -1..+1 group user/CavidGayibli
	push = group user/CavidGayibli
	read = group user/CavidGayibli
	rebase = group user/CavidGayibli
	removeReviewer = group user/CavidGayibli
	submit = group user/CavidGayibli
[access "refs/heads/*"]
	create = group user/CavidGayibli
	push = +force group user/CavidGayibli
	pushMerge = group user/CavidGayibli
	read = group user/CavidGayibli
[access "refs/tags/*"]
	push = group user/CavidGayibli
	push = +force group user/CavidGayibli
